{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2>Create new poll</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ pollform.as_p }}
                    {{ choiceform.as_p }}
                    {{ choiceform2.as_p }}
                </div>
                
                <button type="submit" class="btn btn-primary">Add Poll</button>
                <a class="btn btn-warning" href="{% url 'poll:poll' %}" role="button">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}