{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Polls details page</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <hr>
    <h2 class="mt-3 mb-3">{{ poll.subject }}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% for cho in poll.choises.all %}
        <input type="radio" name="choice"  value="{{ cho.id }}">
        <label >{{ cho.choice_option }}</label>
        <br>
        {% endfor %}
        <input type="submit" value="Vote" class="btn btn-primary mt-3">
        <a class="btn btn-warning mt-3" href="{% url 'poll:poll' %}" role="button">Cancel</a>
    </form>

</div>

{% endblock content %}